<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
    <extension-point id="fileFormatSupport" name="File format support" schema="schema/fileFormatSupport.exsd"/>
   
   	<extension point="etablesaw.core.fileFormatSupport">
		<fileFormatSupport
			fileFormats="csv"
			supportClass="etablesaw.io.csv.CsvFileFormatSupport"
		/>
	</extension>
   
</plugin>
