<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="exprSupport" name="Expression support" schema="schema/exprSupport.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="etablesaw.ui.editor.NatTablesawEditor"
            contributorClass="etablesaw.ui.editor.TablesawEditorActionBarContributor"
            default="true"
            extensions="csv,xlsx"
            id="etablesaw.ui.editor.table"
            name="Tablesaw editor"
            icon="icons/xaw.png"
            >
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="etablesaw.ui.category"
            name="Tablesaw"
            >
      </category>

      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.views.TableProviderRegistryView"
            id="etablesaw.ui.views.TableProviderRegistryView"
            name="Table Registry"
            icon="icons/xaw.png"
            >
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.views">
       <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.editor.NatTablesawView"
            id="etablesaw.ui.NatTablesawView"
            allowMultiple="true"
            name="Table"
            icon="icons/xaw.png"
            >
      </view>
   </extension>
         
   <extension
         point="org.eclipse.ui.views">
      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.views.SummaryTableView"
            id="etablesaw.ui.SummaryTableView"
            allowMultiple="true"
            name="Summary"
            icon="icons/xaw.png"
            >
      </view>
      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.views.CrossTableView"
            id="etablesaw.ui.CrossTableView"
            allowMultiple="true"
            name="Cross Table"
            icon="icons/xaw.png"
            >
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.views.WebTableView"
            id="etablesaw.ui.views.WebTableView"
            allowMultiple="true"
            name="Web Page"
            icon="icons/xaw.png"
            >
      </view>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="etablesaw.ui.preferences.TablesawPreferenceInitializer">
      </initializer>
   </extension>

    <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="etablesaw.ui.preferences.TablesawPreferencePage"
            class="etablesaw.ui.preferences.TablesawPreferencePage"
            name="Tablesaw"
            >
       </page>
   </extension>

    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="etablesaw.ui.editor.commands.EditDeleteCommandHandler"
             commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with variable="activeEditorId">
                <equals value="etablesaw.ui.editor.table"/>
             </with>
         </activeWhen>
         <!-- <enabledWhen></enabledWhen> -->
       </handler>
       <!--
       -->
       <handler
             class="etablesaw.ui.editor.commands.EditCopyCommandHandler"
             commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with variable="activeEditorId">
                <equals value="etablesaw.ui.editor.table"/>
             </with>
         </activeWhen>
       </handler>
       <handler
             class="etablesaw.ui.editor.commands.EditPasteCommandHandler"
             commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with variable="activeEditorId">
                <equals value="etablesaw.ui.editor.table"/>
             </with>
         </activeWhen>
       </handler>
    </extension>

</plugin>
