<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="etablesaw.ui.editor.NatTablesawEditor"
            contributorClass="etablesaw.ui.editor.TablesawEditorActionBarContributor"
            default="true"
            extensions="cvs"
            id="etablesaw.ui.editor.table"
            name="Tablesaw editor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="etablesaw.ui.category"
            name="Tablesaw">
      </category>

      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.editor.NatTablesawView"
            id="etablesaw.ui.NatTablesawView"
            allowMultiple="true"
            name="Table">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.views.SummaryTableView"
            id="etablesaw.ui.SummaryTableView"
            allowMultiple="true"
            name="Summary">
      </view>
      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.views.CrossTableView"
            id="etablesaw.ui.CrossTableView"
            allowMultiple="true"
            name="Cross Table">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.plots.BarPlotView"
            id="etablesaw.ui.BarPlotView"
            allowMultiple="true"
            name="Bar Plot">
      </view>
      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.plots.HistogramView"
            id="etablesaw.ui.HistogramView"
            allowMultiple="true"
            name="Histogram">
      </view>
      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.plots.PiePlotView"
            id="etablesaw.ui.PiePlotView"
            allowMultiple="true"
            name="Pie Plot">
      </view>
      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.plots.LinePlotView"
            id="etablesaw.ui.LinePlotView"
            allowMultiple="true"
            name="Line Plot">
      </view>
      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.plots.ScatterPlotView"
            id="etablesaw.ui.ScatterPlotView"
            allowMultiple="true"
            name="Scatter Plot">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="etablesaw.ui.preferences.TablesawPreferenceInitializer">
      </initializer>
   </extension>

    <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="etablesaw.ui.preferences.TablesawPreferencePage"
            class="etablesaw.ui.preferences.TablesawPreferencePage"
            name="Tablesaw">
       </page>
   </extension>
   
   <extension-point id="exprSupport" name="Expression Support" schema="schema/exprSupport.exsd"/>
   
   	<extension point="etablesaw.ui.exprSupport">
		<exprSupport
			langName="js"
			supportClass="etablesaw.ui.javaxscript.ScriptEngineExprSupport"
		/>
	</extension>
   
</plugin>
