<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
        point="org.eclipse.ui.views">
      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.smile.OlsRegressionView"
            id="etablesaw.ui.smile.OlsRegressionView"
            allowMultiple="true"
            name="OLS Regression"
            icon="platform:/plugin/etablesaw.ui/icons/xaw.png"
            >
      </view>
      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.smile.RidgeRegressionView"
            id="etablesaw.ui.smile.RidgeRegressionView"
            allowMultiple="true"
            name="Ridge Regression"
            icon="platform:/plugin/etablesaw.ui/icons/xaw.png"
            >
      </view>
      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.smile.LassoRegressionView"
            id="etablesaw.ui.smile.LassoRegressionView"
            allowMultiple="true"
            name="Lasso Regression"
            icon="platform:/plugin/etablesaw.ui/icons/xaw.png"
            >
      </view>
      <view
            category="etablesaw.ui.category"
            class="etablesaw.ui.smile.KnnClassificationView"
            id="etablesaw.ui.smile.KnnClassificationView"
            allowMultiple="true"
            name="Knn Classification"
            icon="platform:/plugin/etablesaw.ui/icons/xaw.png"
            >
      </view>
   </extension>
   
</plugin>
